.App {
  text-align: center;
}

div.navbar {
  float: left;
  width: 100vw;
  height: 10vh;
  background: orangered;
  color: white;
  border-bottom: 2px solid white;
}

.sidebar {
  float: left;
  width: 30vw;
  height: 90vh;
  background: blue;
  color: white;
}

.main-content {
  background: lightgrey;
  color: black;
}
